@use "sass:color";
// http://thesassway.com/beginner/how-to-structure-a-sass-project
@use 'partials/reset';
@use 'modules/colors';

html { font-size: 16px; }

body {
    background: colors.$body-color;
    color: colors.$text-color;
    font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: large;
    padding: 1rem 2rem;
}

a {
    color: colors.$text-color;

    &:hover {
        color: colors.$body-color;
        background: colors.$text-color;
    }
}

form.js {
    margin: 2rem auto;
    max-width: 40ch;

    ul {
        li + li { margin-top: 0.5rem; }
    }

    li label {
        display: block;
        padding: 1rem;
        border-radius: 0.5rem;
        cursor: pointer;

        input {
            display: none;
        }

        &:hover {
            background: color.adjust(colors.$body-color, $lightness: 10%);
        }
    }

    li label {
        background: color.adjust(colors.$body-color, $lightness: -2%);
    }

    li label:has(input[type="radio"]:checked) {
        background: #fbbf24; // Amber 400
        color: #44403c; // Stone 700
    }
}

.form-wrapper {
    margin-top: 2rem;
    max-width: 100%;
    justify-content: space-between;
    display: flex;
    gap: 0.5rem;

    button {
        padding: 0 1rem;
        border-radius: 0.5rem;
        border: none;
        background: colors.$text-color;
        color: colors.$body-color;
        cursor: pointer;

        &:hover {
            background: color.adjust(colors.$body-color, $lightness: 20%);
            color: colors.$text-color;
        }
    }

    input[type=search] {
        width: 100%;
        flex-grow: 1;
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;
        border: none;
    }
}

code { background: color.adjust(colors.$body-color, $lightness: -10%); }

ul {
    list-style: none;
    padding: 0;

    li + li { margin-top: 1rem; }

    form { padding-top: 0.5rem; }
}

.js { display: none; }

html.has-js {
    .js { display: block; }

    .no-js { display: none; }
}

footer {
    margin-top: 5rem;
    font-size: 0.8rem;

    a { color: rgba(0, 0, 0, 0.2); }
}
