@import "tailwindcss";

@layer utilities {
  .js { display: none; }

  html.has-js {
    .js { display: block; }

    .no-js { display: none; }
  }

  li label {
    background: var(--color-sky-200);
    color: var(--color-black);
    cursor: pointer;

    &:hover {
      background: var(--color-sky-300);

      @variant dark {
        background: var(--color-sky-600);
      }
    }

    @variant dark {
      background: var(--color-sky-700);
      color: var(--color-white);
    }

    &:has(input[type="radio"]:checked) {
      background: var(--color-amber-300);
      color: var(--color-black);
    }
  }


  input[type=search]::-webkit-search-cancel-button {
       /* This apparently won't override default behavior if it has it. */
      height: 1.25rem;
      width: 1.25rem;
      /* https://remixicon.com/icon/close-circle-fill */
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 10.5858L9.17157 7.75736L7.75736 9.17157L10.5858 12L7.75736 14.8284L9.17157 16.2426L12 13.4142L14.8284 16.2426L16.2426 14.8284L13.4142 12L16.2426 9.17157L14.8284 7.75736L12 10.5858Z'%3E%3C/path%3E%3C/svg%3E");
  }

}
