<!DOCTYPE html>
<html class="no-js" lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
    <div class="wrapper">{{ content | safe }}</div>

    <script>
        document.querySelector('html').classList.remove('no-js');
        document.querySelector('html').classList.add('has-js');

        // Restore selected source and query from localStorage
        const selectedSource = localStorage.getItem('tp-selectedSource');

        const urlParams = new URLSearchParams(window.location.search);
        const q = urlParams.get('q');
        const query = q ? q : localStorage.getItem('tp-query');

        const radio = document.querySelector(`input[name=source][value=${selectedSource}]`);
        if (radio) {
            radio.checked = true;
        } else {
            // Select the first option
            document.querySelectorAll('input[name=source]')[0].checked = true;
        }

        const input = document.querySelector('input[name=q]');
        if (input) {
            input.value = query;
        }

        document.querySelector('form.js input[name=q]').focus();

        document.querySelector('form.js').addEventListener('submit', (e) => {
            e.preventDefault();
            const baseForm = e.target;
            const query = baseForm.querySelector('input[name=q]').value;
            const source = baseForm.querySelector('input[name=source]:checked').value;
            const form = document.querySelector('#form_' + source);
            form.querySelector('input[type=search]').value = query;
            form.submit();

            // Save selected source and query in localStorage
            localStorage.setItem('tp-selectedSource', source);
            localStorage.setItem('tp-query', query);
        });
    </script>
</body>
</html>
