<!DOCTYPE html>
<html class="no-js" lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
    <div class="wrapper">{{ content | safe }}</div>

    <script>
        document.querySelector('html').classList.remove('no-js');
        document.querySelector('html').classList.add('has-js');

        document.querySelector('form.js input').focus();

        document.querySelector('form.js').addEventListener('submit', (e) => {
            e.preventDefault();
            const baseForm = e.target;
            const query = baseForm.querySelector('input[name=q]').value;
            const source = baseForm.querySelector('input[name=source]:checked').value;
            const form = document.querySelector('#form_' + source);
            form.querySelector('input[type=search]').value = query;
            form.submit();
        });
    </script>
</body>
</html>
