---
layout: layouts/base.njk
title: Books!
description: Search for books at your local library (and other places)
---

<h1>{{ title }}</h1>

<form class="js">
    <ul>
        {% for item in sources.items %}
        <li>
            <label>
                <input type="radio" name="source" value="{{ item.slug }}" {% if loop.first %}checked="checked"{% endif %} />
                {{ item.name }}
            </label>
        </li>
        {% endfor %}
    </ul>
    <div>
        <input type="search" name="q" />
        <button>Search</button>
    </div>
</form>

<ul class="no-js">
     {% for item in sources.items %}
     <li>
         {% if item.url %}
         <a href="{{ item.url }}">{{ item.name }}</a>
         {% else %}
         {{ item.name }}
         {% endif %}
         <form id="form_{{ item.slug }}" action="{{ item.action }}" method="{{ item.method | default('get') }}">
             {% if item.slug == 'indiebound' %}
             <input type="hidden" name="aff" value="trey" />
             {% endif %}
             <input type="search" name="{{ item.field | default('q') }}" />
             <button>Search</button>
         </form>
     </li>
     {% endfor %}
</ul>
