---
layout: layouts/base.njk
title: Books!
description: Search for books at your local library (and other places)
---

<h1>{{ title }}</h1>

<ul>
     {% for item in sources.items %}
     <li>
         {{ item.name }}
         <form action="{{ item.action }}" method="{{ item.method }}">
             <input type="text" name="{{ item.field }}" />
             <button>Search</button>
         </form>
     </li>
     {% endfor %}
</ul>
