---
layout: layouts/base.njk
title: Books!
description: Search for books at your local library (and other places)
---

<h1>{{ title }}</h1>

<form class="js">
    <ul>
        {% for source in sources %}
        <li>
            <label>
                <input type="radio" name="source" value="{{ source.slug }}" {% if loop.first %}checked="checked"{% endif %} />
                {{ source.name }}
            </label>
        </li>
        {% endfor %}
    </ul>
    <div>
        <input type="search" name="q" />
        <button>Search</button>
    </div>
</form>

<ul class="no-js">
     {% for source in sources %}
     <li>
         {% if source.url %}
         <a href="{{ source.url }}">{{ source.name }}</a>
         {% else %}
         {{ source.name }}
         {% endif %}
         <form id="form_{{ source.slug }}" action="{{ source.action }}" method="{{ source.method | default('get') }}">
             {% if source.slug == 'indiebound' %}
             <input type="hidden" name="aff" value="trey" />
             {% endif %}
             <input type="search" name="{{ source.field | default('q') }}" />
             <button>Search</button>
         </form>
     </li>
     {% endfor %}
</ul>
