---
import "../styles/global.css";
---
<!doctype html>
<html class="no-js" lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Books!</title>
    <link rel="icon" href="data:," />
    <meta name="description" content="Search for books" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="bg-sky-100 dark:bg-sky-950 dark:text-sky-100 my-10">
    <div class="wrapper max-w-md mx-auto p-4">
      <slot />
    </div>
  </body>
</html>
